.popup {
  border-radius: 5px;
  width: 30%;
  left: 50%;
  margin-left: -15%;
  position: fixed;
  top: 0;
  transform: translateY(-100%);
  box-shadow: var(--main-color-40) 0 0 3px;
  background-color: var(--main-color-30);
  display: flex;
  align-content: center;
  transition: transform 0.2s ease-out;
}

.popup.show{
  transform: translateY(10px);
}

.popup-content {
  padding: 10px;
}

.popup.message {
  margin-top: 10px;
}

.popup.error {
}

.popup.success {
}

.popup.loading {
  
}

@keyframes slideIn {
  0% {
    top: -20%;
  }
  100% {
    top: 10%;
  }
}
@keyframes slideOut {
  0% {
    top: 10%;
  }
  100% {
    top: -40%;
  }
}